body {font-family: 'Raleway', sans-serif;
    /*display: flex;*/
}	



/* Header */



/**** NAV ****/

.nav-links {
display: flex;
align-items: center;
justify-content: flex-end;
list-style: none;
}
      
.nav-links, a, ul{
padding: 0 10px; 
text-decoration: none;
color: black;
list-style: none;
display: contents;

}




/**** Menu filters****/


#filtres {
    display    : flex;
    align-items: center;
    font-family: "ralewaybold";
    margin-top : 15px;
    padding    : 0 25px;
    flex-wrap  : wrap;
}

#filters h2 {
    font-size   : 19px;
    margin-left : 0;
    margin-right: 25px;
    padding-left: 0%;
}

#filters ul {
    display             : flex;
    list-style-type     : none;
    padding-inline-start: 0px;
    flex-wrap           : wrap;
}

#filters ul a {
    display        : flex;
    text-decoration: none;
    align-items    : center;
    color          : black;
}

#filters li {
    display      : flex;
    border       : 2px solid #F2F2F2;
    border-left  : none;
    border-radius: 28px;
    padding-right: 20px;
    margin       : 5px 25px 5px 0;
}

.eco:hover {
    background-color: #F2F2F2;
}

.fami:hover {
    background-color: #F2F2F2;
}

.roman:hover {
    background-color: #F2F2F2;
}

.animaux:hover {
    background-color: #F2F2F2;
}

.menu-footer ul{
    display: contents;

}