body {font-family: 'Raleway', sans-serif;
    /*display: flex;*/
}	

footer {
         display:flex;
         justify-content: space-between;
}

/* Header */



/**** NAV ****/

.nav-links {
display: flex;
align-items: center;
align-content: center;
justify-content: flex-end;
list-style: none;
}
      
.nav-links, a {
padding: 0 10px
}



 

