body {font-family: 'Raleway', sans-serif;
    /*display: flex;*/
}	

/*#paramepage {
 margin: auto;
  width: 70%;
}*/

h1,
h2,
h3,
h4,
a {
  font-family: "Raleway";
  font-weight: bold;
}

p {
  font-family: "Raleway";
}

/******* Header *******/



#blocpage {
  margin: auto;
  width: 98%;
}




/******** Nav ********/

.nav-links {
display: flex;
align-items: center;
justify-content: flex-end;
list-style: none;
}
      
.nav-links, a, ul{
padding: 0 10px; 
text-decoration: none;
color: black;
list-style: none;
}
/******** Bouton de recherche ********/




.logosearch {
  display: inline-flex;
  margin-top: 15px;
  align-items: center;
}
input {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 0 1.5em;
  width: 60%;
  height: 50px;
  font-size: 16px;
}


button {
  background-color: #0065fc;
  border: none;
  padding: 15px 15px;
  border-radius: 0px 10px 10px 0px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  font-size: 1em;
  cursor: pointer;
  margin: 0 -50px;
}


.iconemap {
  font-size: 25px;
  background-color: #f2f2f2;
  border-radius: 1rem 0 0 1rem;
  padding: 10px 10px;
  width: 30px;
  text-align: center;
}


.boutonderecherche {
  border-radius: 0px 15px 15px 0;
  padding: 15px;
  background-color: #0065fc;
  color: white;
  right: 43px;
}

.loupelogo i {
  display: none;
}


.fas {
  color: #0065fc;
}


.fa-map-marker-alt {
  color: black;
}
/******** Filters ********/


#filters {
    display: flex;
    align-items: center;
    font-family: "ralewaybold";
    margin-top : 15px;
    padding    : 0 25px;
    flex-wrap  : wrap;
}

#filters h2 {
    font-size   : 19px;
    margin-left : 0;
    margin-right: 25px;
    padding-left: 0%;
}

#filters ul {
    display             : flex;
    list-style-type     : none;
    padding-inline-start: 0px;
    flex-wrap           : wrap;
}

#filters ul a {
    display        : flex;
    text-decoration: none;
    align-items    : center;
    color          : black;
}

#filters li {
    display      : flex;
    border       : 2px solid #F2F2F2;
    border-left  : none;
    border-radius: 28px;
    padding-right: 20px;
    margin       : 5px 25px 5px 0;
}

.eco: hover  {
    background-color: #f2f2f200;
}

.fami: hover   {
     background-color: #f2f2f200;
}

.roman: hover {
    background-color: #f2f2f200;
}

.animaux: hover {
    background-color: #f2f2f200;
}

#filtres span li {
    border: none;
}


.fa-info {
  text-align: center;
  color: #0065fc;
  border-radius: 100%;
  height: 32px;
  width: 33px;
  border: solid 1px #d9d9d9;
  padding: 7px;
  box-sizing: border-box;
}




.infotext {
  padding-left: 10px;
}


.subtext {
  margin-bottom: -35px;
}



.info {
  display: flex;
}


/******** Les Hebergements ********/

.container {
    display: flex;
    margin: 25px 0 50px;
}

.hebergement_boites div {
    flex: 20%;
    margin: 10px; 
    padding:7px;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 25px
}

.hebergement_texte {
  margin: 0px !important; 
  border-radius: 0 0 25px 25px !important;
}
.hebergement_texte h3, .hebergement_texte p{
    margin: 2px;
}

.hebergement_boites img {
 	border-radius: 15px 15px 0 0;
} 

.hebergement {
    /*width: 60%;*/
    /*display: flex;*/
    background-color: #f2f2f2;
    width: 62%;
    margin: 0 25px 0 0;
    padding: 60px;
    border-radius: 20px
 }
    
 .hebergement_boites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hebergement_boites div {
  flex: 25%;
}
   
/******** Les plus populaires ********/

.populaire {
    /*width: 40%;*/
    /*display: flex;*/
    background-color: #f2f2f2;
    width: 32%;
    padding: 20px;
    border-radius: 15px
    
}   

.populaire_boite_design img {

    border-radius: 30px;
    box-shadow: 0 5px 16px #0000002e;
    cursor: pointer
}

.populaire_boites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.populaire_boites article {
    flex: 60%;
    margin:10px;
    padding:10px;
}

.populaire_boite_design {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px
}

.hebergement_boites img {

    box-shadow:6px 6px 20px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.populaire_text {
	display: flex;
    flex-direction: column;
    margin:10px;
}

.populaire_text h3, .populaire_text p {
    margin: 2px;
}

.populaire_boite_design img {
    border-radius: 15px 0 0 15px;
    
}

/********* Les activites ********/

.activite img {
    background-color: #ffffff;
    /*margin:25px;*/
    padding: 0px;
    border-radius: 30px;
    box-shadow:6px 6px 20px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.activite_boites {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.activite_boite_contenu {
    flex: 20%;
    margin:5px;
}  

.activite_boites_design {
  background-color: white;
    border-radius: 30px;
    box-shadow:6px 6px 20px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}

.activite_boites_design h3 {
  padding-left: 15px;
}

/*.activite_text h3, .activite_text p {
   
}*/

.activite_boites_colonne {

    flex: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:5px;
}

.activite_image {
	/*height: 600px;*/
	background-image: url('./images/VieuxPort');
	/*background-repeat: no-repeat;*/
        
	border-radius: 25px;
}

.activite_image_port {
  height: 665px;
  background-image: url('./images/VieuxPort.jpg');
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-size: cover;
  background-position: center;
}


.activite_image_pomegues {
  height: 250px;
  width: 100%;
  background-image: url('./images/Pomegues.jpg');
        
  border-radius: 25px 25px 0 0;
  background-size: cover;
  background-position: center;
}


.activite_image_NDGarde {
  height: 350px;
  width: 100%;
  background-image: url('./images/NDGarde.jpg');
        
  border-radius: 25px 25px 0 0;
  background-size: cover;
  background-position: center;
}



.activite_image_calanque {
  height: 665px;
  background-image: url('./images/Calanques.jpg');
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-size: cover;
  background-position: center;
}

.activite_image_frioul {
  height: 250px;
  width: 100%;
  background-image: url('./images/Frioul.jpg');
        
  border-radius: 25px 25px 0 0;
  background-size: cover;
  background-position: center;
}

.activite_image_longchamp {
	height: 350px;
  width: 100%;
	background-image: url('./images/Longchamp.jpg');
        
	border-radius: 25px 25px 0 0;
  background-size: cover;
  background-position: center;
}



/********* Footer ********/


.menu-footer ul{
    display: contents;
   }
.menu-footer {
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-around;
}  

  

