body {font-family: 'Raleway', sans-serif;
    /*display: flex;*/
}	

footer {
         display:flex;
         justify-content: space-between;
}

/* Header */



/**** NAV ****/

.nav-links {
display: flex;
align-items: center;
justify-content: flex-end;
list-style: none;
}
      
.nav-links, a, ul{
padding: 0 10px 
}




/**** Menu filters****/

.menu-filters {
display: flex;
align-items: center;
justify-content: flex-start;
list-style: none;
}

.menu-filters,  div{  
 padding: 0px;
}
 

